/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('Proxima Nova Bold.ttf');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('Proxima Nova Light.ttf');
}

:root {
  --main-bg-color: #3778c2;
  --second-bg-color: #5fb523;
  --text-color-dark: #434b54;
  --text-color-light: #fff;
  --font-bold: 'Proxima Nova Bold', sans-serif;
  --font-light: 'Proxima Nova Light', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-bg-color);
  font-family: var(--font-bold);
}

.navbar .navbar-brand {
  color: var(--text-color-light);
}

.bg-main {
  background-color: var(--main-bg-color) !important;
}

a.nav-link {
  color: var(--text-color-light);
}

.logo {
  color: var(--text-color-light);
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}

.material-symbols-outlined {
  color: var(--text-color-light);
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}
